/*min-width: 768px)*/
.nav-mobile {
    display: none;
}

.nav-desktop {
    display: block;
}

.nav-desktop li {
    list-style: none;
    display: inline-block;
}

.nav-desktop li a {
    padding: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    transition: color 0.4s;
}

.nav-desktop li a:hover {
    color: rgb(0, 153, 255);
}

/* HEADER */
.header-text h1 {
    font-size: 46px;
}

.header-text p {
    font-size: 20px;
}

/* MAIN */
.main-product {
    width: 45%;
}
