/*min-width: 576px*/

.header-img {
    background-image: url('../img/header-medium.jpg');
}

.first-product {
    background-image: url('../img/main1-medium.jpg');
}

.second-product {
    background-image: url('../img/main2-medium.jpg');
}

.third-product {
    background-image: url('../img/main3-medium.jpg');
}

.fourth-product {
    background-image: url('../img/main4-medium.jpg');
}

/* FOOTER */
footer {
    font-size: 20px;
}

.foot-icon i {
    font-size: 20px;
}